flows_210-02.json
[{"id":"7a115568.6aefec","type":"tab","label":"Caldera","disabled":false,"info":""},{"id":"15715190.4f8046","type":"tab","label":"Termostatos","disabled":false,"info":""},{"id":"fcb4bd21.45dd5","type":"tab","label":"99_Sistema","disabled":false,"info":""},{"id":"44c3e01a.1af2f","type":"tab","label":"Alarmas","disabled":false,"info":""},{"id":"af16628e.f7d2b8","type":"tab","label":"Luces","disabled":false,"info":""},{"id":"31522ea0.d886f2","type":"ui_tab","z":"","name":"Caldera","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"38a70807.cb0138","type":"ui_group","z":"","name":"Termostato caldera","tab":"31522ea0.d886f2","order":1,"disp":true,"width":6,"collapse":true},{"id":"c36bbd79.03be9","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#0004ff","edited":true},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#2cb3da","edited":true},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9a6353e3.c9212","type":"ui_group","z":"","name":"Solar","tab":"31522ea0.d886f2","order":2,"disp":true,"width":6,"collapse":true},{"id":"b3b73012.4e34c","type":"ui_group","z":"","name":"CPU","tab":"a04fd241.54f34","order":1,"disp":true,"width":"6","collapse":true},{"id":"227b397d.1c1a06","type":"ui_group","z":"","name":"Almacenamiento","tab":"a04fd241.54f34","order":3,"disp":true,"width":"6","collapse":true},{"id":"701ada1d.67c764","type":"ui_group","z":"","name":"Memory","tab":"a04fd241.54f34","order":2,"disp":true,"width":"6","collapse":true},{"id":"b9d2db03.a5b738","type":"ui_group","z":"","name":"Buttons","tab":"a04fd241.54f34","order":4,"disp":false,"width":"3","collapse":false},{"id":"3a96b4d3.fbf22c","type":"ui_group","z":"","name":"hidden_group","tab":"","disp":false,"width":"6","collapse":false},{"id":"a04fd241.54f34","type":"ui_tab","z":"","name":"System","icon":"settings","order":1},{"id":"2ffc95f.eccefea","type":"ui_group","z":"","name":"Termostato agua","tab":"31522ea0.d886f2","order":3,"disp":true,"width":6,"collapse":true},{"id":"a9d23151.3bec98","type":"ui_group","z":"","name":"Temperaturas","tab":"31522ea0.d886f2","disp":true,"width":"6","collapse":true},{"id":"dc304ebc.2602b","type":"ui_group","z":"","name":"Pruebas","tab":"","order":2,"disp":true,"width":6,"collapse":false},{"id":"4426622.c4a879c","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.183","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a339ed92.ae03c8","type":"telegrambot-config","z":"","botname":"@caldera_bot","usernames":"","chatIds":"34635086","pollInterval":"300"},{"id":"ff08d5a9.cbf1","type":"ui_group","z":"","name":"Programador","tab":"","order":1,"disp":true,"width":4,"collapse":false},{"id":"d63205d0.0aebc","type":"ui_group","z":"","name":"Luces","tab":"","order":3,"disp":true,"width":4,"collapse":false},{"id":"da7b2434.b0ed68","type":"MySQLdatabase","z":"","host":"192.168.1.183","port":"3306","db":"temperaturas","tz":""},{"id":"20eb7d96.17faf2","type":"ui_spacer","name":"spacer","group":"d63205d0.0aebc","order":6,"width":1,"height":1},{"id":"43c5a532.b47b5c","type":"ui_spacer","name":"spacer","group":"d63205d0.0aebc","order":8,"width":1,"height":1},{"id":"fe0e30c7.2590b","type":"ui_tab","z":"","name":"Luces","icon":"dashboard","disabled":false,"hidden":false},{"id":"4d3dfa68.b9cb9c","type":"ui_group","z":"","name":"Luces","tab":"fe0e30c7.2590b","disp":true,"width":"6","collapse":false},{"id":"42cc7408.2a88fc","type":"ui_spacer","name":"spacer","group":"4d3dfa68.b9cb9c","order":3,"width":2,"height":1},{"id":"dec1fe5b.77e378","type":"ui_spacer","name":"spacer","group":"4d3dfa68.b9cb9c","order":4,"width":6,"height":1},{"id":"98180fff.129288","type":"ui_spacer","name":"spacer","group":"4d3dfa68.b9cb9c","order":7,"width":6,"height":1},{"id":"c55878c9.41a158","type":"ui_spacer","name":"spacer","group":"38a70807.cb0138","order":3,"width":1,"height":1},{"id":"8e75c6eb.871c28","type":"ui_spacer","name":"spacer","group":"38a70807.cb0138","order":4,"width":6,"height":1},{"id":"db5f28e.231c3d8","type":"ui_spacer","name":"spacer","group":"38a70807.cb0138","order":7,"width":6,"height":1},{"id":"3598cb6d.7be504","type":"ui_spacer","name":"spacer","group":"2ffc95f.eccefea","order":3,"width":1,"height":1},{"id":"c4a8d5f9.473728","type":"ui_spacer","name":"spacer","group":"2ffc95f.eccefea","order":5,"width":3,"height":1},{"id":"51d97d42.805d74","type":"ui_spacer","name":"spacer","group":"2ffc95f.eccefea","order":7,"width":3,"height":1},{"id":"7f9463d6.4b6f1c","type":"ui_spacer","name":"spacer","group":"2ffc95f.eccefea","order":9,"width":3,"height":1},{"id":"34c0b435.e6ba7c","type":"ui_spacer","name":"spacer","group":"2ffc95f.eccefea","order":10,"width":6,"height":1},{"id":"f41c097e.9dda68","type":"ui_spacer","name":"spacer","group":"2ffc95f.eccefea","order":11,"width":6,"height":1},{"id":"4dc6fbe3.da8724","type":"inject","z":"7a115568.6aefec","name":"Lectura","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["cafb3d4e.7f9f28"]]},{"id":"a7a5c826.c435d8","type":"ui_gauge","z":"7a115568.6aefec","name":"","group":"a9d23151.3bec98","order":1,"width":6,"height":3,"gtype":"gage","title":"Exterior","label":"units","format":"{{value}}","min":"-10","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":20,"wires":[]},{"id":"cc2500f9.a1073","type":"ui_gauge","z":"7a115568.6aefec","name":"","group":"9a6353e3.c9212","order":1,"width":6,"height":3,"gtype":"gage","title":"Captador","label":"units","format":"{{value}}","min":"-10","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":120,"wires":[]},{"id":"d9128756.2fe7c8","type":"ui_gauge","z":"7a115568.6aefec","name":"","group":"38a70807.cb0138","order":5,"width":6,"height":3,"gtype":"gage","title":"Caldera","label":"units","format":"{{value}}","min":"10","max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":240,"wires":[]},{"id":"38455e9c.26ff82","type":"ui_gauge","z":"7a115568.6aefec","name":"","group":"2ffc95f.eccefea","order":12,"width":6,"height":3,"gtype":"wave","title":"ACS","label":"ºC","format":"{{value}}","min":"10","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":380,"wires":[]},{"id":"7f9c2dbc.4be114","type":"ui_gauge","z":"7a115568.6aefec","name":"","group":"9a6353e3.c9212","order":3,"width":6,"height":3,"gtype":"wave","title":"Ag_solar","label":"ºC","format":"{{value}}","min":"10","max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":460,"wires":[]},{"id":"a95a3137.4b04c","type":"inject","z":"fcb4bd21.45dd5","name":"5 min tick","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":"1","x":150,"y":320,"wires":[["f874b2e4.255b6","b8f4731d.2e126","9df1e9c5.6916c8","865b55e1.f3ef78","26095ca.6bd53a4"]]},{"id":"3d9e812e.b9fdde","type":"ui_gauge","z":"fcb4bd21.45dd5","name":"","group":"b3b73012.4e34c","order":1,"width":"3","height":"3","gtype":"gage","title":"CPU","label":"%","format":"{{ msg.payload }}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":790,"y":460,"wires":[]},{"id":"87c56128.10ee1","type":"ui_gauge","z":"fcb4bd21.45dd5","name":"","group":"227b397d.1c1a06","order":2,"width":"6","height":"4","gtype":"gage","title":"Usado","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":790,"y":160,"wires":[]},{"id":"3e2dc1f6.a1908e","type":"ui_chart","z":"fcb4bd21.45dd5","name":"","group":"b3b73012.4e34c","order":3,"width":"6","height":"4","label":"Load %","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff8000","#aec7e8","#0080ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":820,"y":500,"wires":[[]]},{"id":"fc3ab06a.c4b07","type":"ui_chart","z":"fcb4bd21.45dd5","name":"","group":"227b397d.1c1a06","order":1,"width":"6","height":"6","label":"SSD","chartType":"horizontalBar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":120,"wires":[[]]},{"id":"4bdde0de.7b8db","type":"ui_gauge","z":"fcb4bd21.45dd5","name":"","group":"701ada1d.67c764","order":2,"width":"0","height":"0","gtype":"donut","title":"uso RAM","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":780,"y":340,"wires":[]},{"id":"fd84f561.8a2cd8","type":"ui_chart","z":"fcb4bd21.45dd5","name":"","group":"701ada1d.67c764","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":380,"wires":[[]]},{"id":"588322b3.48b70c","type":"ui_gauge","z":"fcb4bd21.45dd5","name":"","group":"b3b73012.4e34c","order":2,"width":"3","height":"3","gtype":"gage","title":"CPU Temp","label":"Â°C","format":"{{ msg.payload }}","min":0,"max":"100","colors":["#0080ff","#ffffff","#ca3838"],"seg1":"70","seg2":"85","x":800,"y":540,"wires":[]},{"id":"207baf91.98e3a","type":"function","z":"fcb4bd21.45dd5","name":"extract","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":380,"wires":[["fd84f561.8a2cd8","4bdde0de.7b8db"]]},{"id":"86cc8a84.d12cc8","type":"function","z":"fcb4bd21.45dd5","name":"convert_uptime","func":"var d = Math.floor(msg.payload.uptime / 86400);\nvar h = Math.floor((msg.payload.uptime % 86400) / 3600);\nvar m = Math.floor(((msg.payload.uptime % 86400) % 3600) / 60);\nvar s = ((msg.payload.uptime % 86400) % 3600) % 60;\nmsg.payload = d + ':' + h + ':' + m + ':' + s;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":260,"wires":[["c35f4f4.6bc67b"]]},{"id":"f874b2e4.255b6","type":"exec","z":"fcb4bd21.45dd5","command":"/opt/vc/bin/vcgencmd measure_temp | egrep -o \"[0-9]+\\.[0-9]+?\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"read_T","x":460,"y":540,"wires":[["588322b3.48b70c","11248341.bc7ffd","8ffe2f4f.b9cfb"],[],[]]},{"id":"11248341.bc7ffd","type":"ui_chart","z":"fcb4bd21.45dd5","name":"","group":"b3b73012.4e34c","order":4,"width":"6","height":"3","label":"Temperature °C","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":830,"y":579,"wires":[[]]},{"id":"8ffe2f4f.b9cfb","type":"debug","z":"fcb4bd21.45dd5","name":"","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"payload","x":800,"y":640,"wires":[]},{"id":"c35f4f4.6bc67b","type":"ui_text","z":"fcb4bd21.45dd5","group":"701ada1d.67c764","order":1,"width":0,"height":0,"name":"","label":"Uptime, d:h:m:s","format":"{{ msg.payload }}","layout":"row-spread","x":800,"y":260,"wires":[]},{"id":"9df1e9c5.6916c8","type":"exec","z":"fcb4bd21.45dd5","command":"top -d 1 -b -n2 | grep Cpu | tail -1 | awk '{print 100-$8}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"cpu_load","x":460,"y":460,"wires":[["3d9e812e.b9fdde","3e2dc1f6.a1908e"],[],[]]},{"id":"865b55e1.f3ef78","type":"exec","z":"fcb4bd21.45dd5","command":"df -m | grep root","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"read_sd_usage","x":360,"y":160,"wires":[["43531d7.82bfae4"],[],[]]},{"id":"43531d7.82bfae4","type":"function","z":"fcb4bd21.45dd5","name":"convert","func":"var msg1,msg2,msg3,msg4;\n\nl = msg.payload.split(/(\\s+)/).filter( function(e) { return e.trim().length > 0; } );\nmsg1 = {topic: 'Total', payload: Math.round(l[1])};\nmsg2 = {topic: 'Free', payload: Math.round(l[3])};\nmsg3 = {topic: 'Used', payload: Math.round(l[2])};\nmsg4 = {topic: 'Used%', payload: l[4].slice(0, -1)};\n\nreturn [msg1, msg2, msg3, msg4];","outputs":4,"noerr":0,"x":580,"y":140,"wires":[["fc3ab06a.c4b07"],["fc3ab06a.c4b07"],["fc3ab06a.c4b07"],["87c56128.10ee1"]]},{"id":"d18ea15b.ac2a","type":"ui_button","z":"fcb4bd21.45dd5","name":"","group":"b9d2db03.a5b738","order":2,"width":0,"height":0,"passthru":false,"label":"Reinicio","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":680,"wires":[["552688f8.0a9598"]]},{"id":"552688f8.0a9598","type":"exec","z":"fcb4bd21.45dd5","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Reboot","x":418,"y":680,"wires":[[],[],[]]},{"id":"9c32e207.6d979","type":"ui_button","z":"fcb4bd21.45dd5","name":"","group":"b9d2db03.a5b738","order":3,"width":0,"height":0,"passthru":false,"label":"Apagado","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":740,"wires":[["3cc449e1.6a7676"]]},{"id":"3cc449e1.6a7676","type":"exec","z":"fcb4bd21.45dd5","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Shutdown","x":429.5,"y":742.25,"wires":[[],[],[]]},{"id":"1c833904.585cd7","type":"inject","z":"fcb4bd21.45dd5","name":"","topic":"","payload":"","payloadType":"date","repeat":"360000","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":560,"wires":[["552688f8.0a9598"]]},{"id":"b8f4731d.2e126","type":"Uptime","z":"fcb4bd21.45dd5","name":"Uptime","x":380,"y":280,"wires":[["86cc8a84.d12cc8"]]},{"id":"26095ca.6bd53a4","type":"Memory","z":"fcb4bd21.45dd5","name":"","x":380,"y":340,"wires":[["207baf91.98e3a"]]},{"id":"df7c9947.3c1d68","type":"ui_chart","z":"7a115568.6aefec","name":"","group":"a9d23151.3bec98","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":60,"wires":[[]]},{"id":"1badceba.12c0d9","type":"ui_chart","z":"7a115568.6aefec","name":"","group":"9a6353e3.c9212","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":160,"wires":[[]]},{"id":"8864d9a4.07d608","type":"ui_chart","z":"7a115568.6aefec","name":"","group":"38a70807.cb0138","order":6,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":280,"wires":[[]]},{"id":"fe31347b.90b37","type":"ui_chart","z":"7a115568.6aefec","name":"","group":"2ffc95f.eccefea","order":13,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":420,"wires":[[]]},{"id":"6dd5a92d.39589","type":"ui_chart","z":"7a115568.6aefec","name":"","group":"9a6353e3.c9212","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":500,"wires":[[]]},{"id":"376a3560.c8b4e2","type":"ui_switch","z":"15715190.4f8046","name":"","label":"Encendido caldera","tooltip":"","group":"38a70807.cb0138","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Int_cal","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":550,"y":420,"wires":[["dda1732f.d5307"]]},{"id":"780a93d1.af7f5c","type":"ui_text","z":"15715190.4f8046","group":"2ffc95f.eccefea","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":790,"y":40,"wires":[]},{"id":"505266a8.f0bf68","type":"function","z":"15715190.4f8046","name":"Valvula","func":"var entr = msg.payload\n\nif (entr == 1) {\n    return {payload:\"Calentando Agua\"};\n}else {\n    return {payload:\"Calentando Radiadores\"};\n}\n","outputs":1,"noerr":0,"x":640,"y":40,"wires":[["780a93d1.af7f5c"]]},{"id":"f65dc691.c565b","type":"ui_switch","z":"15715190.4f8046","name":"","label":"V3V","tooltip":"","group":"2ffc95f.eccefea","order":4,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":550,"y":120,"wires":[["5a2f8045.cfb658","505266a8.f0bf68","8d0533e0.620a08"]]},{"id":"5a2f8045.cfb658","type":"rpi-gpio out","z":"15715190.4f8046","name":"Valvula","pin":"12","set":false,"level":"0","freq":"","out":"out","x":740,"y":120,"wires":[]},{"id":"1ecf944c.21c47c","type":"rpi-gpio out","z":"15715190.4f8046","name":"Caldera","pin":"16","set":"","level":"0","freq":"","out":"out","x":980,"y":380,"wires":[]},{"id":"cafb3d4e.7f9f28","type":"rpi-ds18b20","z":"7a115568.6aefec","topic":"","array":true,"name":"Sensores","x":200,"y":160,"wires":[["9d3e1bcd.24887"]]},{"id":"9d3e1bcd.24887","type":"function","z":"7a115568.6aefec","name":"Temperaturas","func":"var msg0 = {};\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nmsg0.payload=msg.payload[0].temp;\n    global.set('T_ext', msg0.payload);\nmsg1.payload=msg.payload[1].temp;\n    global.set('T_cap', msg1.payload);\nmsg2.payload=msg.payload[2].temp;\n    global.set('T_cal', msg2.payload);\nmsg3.payload=msg.payload[3]['temp'];\n    global.set('T_acs', msg3.payload);\nmsg4.payload=msg.payload[4]['temp'];\n    global.set('T_asol', msg4.payload);\n\nreturn [msg0,msg1,msg2,msg3,msg4];","outputs":5,"noerr":0,"x":360,"y":260,"wires":[["a7a5c826.c435d8","df7c9947.3c1d68","e55b3e43.2a62d"],["cc2500f9.a1073","1badceba.12c0d9","e45334de.1a8758"],["d9128756.2fe7c8","8864d9a4.07d608","493d2c3.7d0e254"],["38455e9c.26ff82","fe31347b.90b37","d3dbad82.47283"],["7f9c2dbc.4be114","6dd5a92d.39589","f766afae.ca8f3"]]},{"id":"cb04c754.bce0c","type":"function","z":"15715190.4f8046","name":"Comparador","func":"var actual = global.get('T_acs');\nvar tr_agua = global.get('tr_agua');\n\n    if (actual + 2 < tr_agua){\n        msg.payload = true;\n    } else if (actual -1 > tr_agua){\n        msg.payload = false;}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":120,"wires":[["f65dc691.c565b"]]},{"id":"43d6155e.495ecc","type":"ui_template","z":"fcb4bd21.45dd5","group":"3a96b4d3.fbf22c","name":"Reloj","order":0,"width":0,"height":0,"format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":170,"y":80,"wires":[[]]},{"id":"b11e0e6.bab3a7","type":"rpi-gpio out","z":"15715190.4f8046","name":"Bomba captador","pin":"10","set":"","level":"0","freq":"","out":"out","x":700,"y":580,"wires":[]},{"id":"6994e000.0226a","type":"function","z":"15715190.4f8046","name":"Comparador","func":"var dia = msg.payload;\nvar captador = global.get('T_cap');\nvar agua = global.get('T_asol');\n\nif (dia && captador+1 > agua){\n        msg.payload = false;}\nelse msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":580,"wires":[["2d3fb2f2.66dbfe","5832944b.811f5c"]]},{"id":"22a35190.345436","type":"rpi-gpio out","z":"15715190.4f8046","name":"Bomba caldera","pin":"8","set":"","level":"0","freq":"","out":"out","x":680,"y":500,"wires":[]},{"id":"d404ecdc.30b2b","type":"function","z":"15715190.4f8046","name":"Comparador","func":"var actual = global.get('T_cal');\nvar agua = global.get('T_acs');\n\n    if (actual > 30 || actual > agua){\n        msg.payload = false;\n    } else {\n        msg.payload = true;}\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":500,"wires":[["5ac2e14e.a3c3f"]]},{"id":"2d3fb2f2.66dbfe","type":"ui_switch","z":"15715190.4f8046","name":"","label":"B. Captador","tooltip":"","group":"2ffc95f.eccefea","order":6,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":510,"y":580,"wires":[["b11e0e6.bab3a7","3eda87fd.a35d78"]]},{"id":"5ac2e14e.a3c3f","type":"ui_switch","z":"15715190.4f8046","name":"","label":"B. Caldera","tooltip":"","group":"2ffc95f.eccefea","order":8,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":450,"y":500,"wires":[["22a35190.345436","e35e067.512e778"]]},{"id":"d6da2032.79305","type":"sunrise","z":"15715190.4f8046","name":"Dia/Noche","lat":"39.7967","lon":"-3.9916","start":"sunrise","end":"sunsetStart","x":150,"y":600,"wires":[["6994e000.0226a","19a751d0.334d1e"],["146910d8.53a797","babc132b.46168"]]},{"id":"74fbb0be.d1eaa","type":"function","z":"15715190.4f8046","name":"Global_Tr_agua","func":"var tr_agua=msg.payload;\nglobal.set('tr_agua',msg.payload);","outputs":1,"noerr":0,"x":780,"y":200,"wires":[[]]},{"id":"2d3ee78c.6aac48","type":"inject","z":"15715190.4f8046","name":"Actualizar","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["cb04c754.bce0c","d404ecdc.30b2b","b0aae47f.a57f08"]]},{"id":"5dbd2788.1795d8","type":"telegrambot-notify","z":"44c3e01a.1af2f","name":"Bot_caldera","bot":"a339ed92.ae03c8","chatId":"34635086","message":"","parseMode":"","x":950,"y":60,"wires":[]},{"id":"14969405.21e874","type":"inject","z":"44c3e01a.1af2f","name":"","topic":"","payload":"Conectando...","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":180,"wires":[["5dbd2788.1795d8"]]},{"id":"bd1ca632.48ba4","type":"function","z":"44c3e01a.1af2f","name":"Alarma captador","func":"var actual = global.get('T_cap');\nif (msg.payload){\n    msg.payload = \"La temperatura es excesiva!! \" + actual +'ºC';\n} else { msg.payload = \"La temperatura es normal \" + actual + 'ºC';}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":60,"wires":[["5dbd2788.1795d8"]]},{"id":"1ef72cd9.e7916b","type":"link out","z":"7a115568.6aefec","name":"","links":["4e5e8eb9.f9bfe8"],"x":375,"y":560,"wires":[]},{"id":"2d670b3.913cd74","type":"ui_led","z":"af16628e.f7d2b8","group":"4d3dfa68.b9cb9c","order":1,"width":2,"height":1,"label":"LUZ","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#333333","value":"false","valueType":"bool"},{"color":"red","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":430,"y":60,"wires":[]},{"id":"f616830e.3df8","type":"mqtt in","z":"af16628e.f7d2b8","name":"Estado","topic":"Luz/Acuario/POWER","qos":"2","datatype":"auto","broker":"4426622.c4a879c","x":100,"y":60,"wires":[["889d1777.cff44"]]},{"id":"889d1777.cff44","type":"function","z":"af16628e.f7d2b8","name":"Panel","func":"var estado = msg.payload;\n\nif (estado === \"ON\"){\n    msg.payload = true;\n}else{ msg.payload = false;}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":60,"wires":[["2d670b3.913cd74"]]},{"id":"923f73d0.ea30b","type":"mqtt in","z":"af16628e.f7d2b8","name":"","topic":"Luz/Acuario/STATE","qos":"2","datatype":"json","broker":"4426622.c4a879c","x":150,"y":540,"wires":[["f8c9645c.fba098"]]},{"id":"f8c9645c.fba098","type":"debug","z":"af16628e.f7d2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":540,"wires":[]},{"id":"4d345baa.5c170c","type":"mqtt out","z":"af16628e.f7d2b8","name":"LUZ","topic":"","qos":"","retain":"true","broker":"4426622.c4a879c","x":430,"y":140,"wires":[]},{"id":"83cd0be6.90d4e","type":"ui_switch","z":"af16628e.f7d2b8","name":"","label":"Acuario","tooltip":"","group":"4d3dfa68.b9cb9c","order":2,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"Luz/Acuario/cmnd/POWER","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":260,"y":140,"wires":[["4d345baa.5c170c"]]},{"id":"cf0e8b40.f2055","type":"ui_dropdown","z":"44c3e01a.1af2f","name":"","label":"Dia","tooltip":"","place":"Dia","group":"ff08d5a9.cbf1","order":1,"width":4,"height":1,"passthru":false,"options":[{"label":"Lunes","value":"Monday","type":"str"},{"label":"Martes","value":"Tuesday","type":"str"},{"label":"Miercoles","value":"Wednesday","type":"str"},{"label":"Jueves","value":"Thursday","type":"str"},{"label":"Viernes","value":"Friday","type":"str"},{"label":"Sabado","value":"Saturday","type":"str"},{"label":"Domingo","value":"Sunday","type":"str"}],"payload":"","topic":"dia","x":370,"y":300,"wires":[["4de88e14.9bdac8"]]},{"id":"7d768856.924048","type":"ui_led","z":"af16628e.f7d2b8","group":"4d3dfa68.b9cb9c","order":5,"width":3,"height":1,"label":"Porche","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#333333","value":"false","valueType":"bool"},{"color":"yellow","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":430,"y":240,"wires":[]},{"id":"9ecdd025.2dc7f","type":"mqtt in","z":"af16628e.f7d2b8","name":"Estado","topic":"Luz/Porche/POWER","qos":"2","datatype":"auto","broker":"4426622.c4a879c","x":100,"y":240,"wires":[["f6747978.fcdc58"]]},{"id":"f6747978.fcdc58","type":"function","z":"af16628e.f7d2b8","name":"Panel","func":"var estado = msg.payload;\n\nif (estado === \"ON\"){\n    msg.payload = true;\n}else{ msg.payload = false;}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":240,"wires":[["7d768856.924048"]]},{"id":"67aa39e3.922f","type":"mqtt out","z":"af16628e.f7d2b8","name":"Porche","topic":"","qos":"0","retain":"false","broker":"4426622.c4a879c","x":600,"y":340,"wires":[]},{"id":"45f20a8f.7c462c","type":"ui_switch","z":"af16628e.f7d2b8","name":"","label":"Porche","tooltip":"","group":"4d3dfa68.b9cb9c","order":6,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"Luz/Porche/cmnd/POWER","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":440,"y":340,"wires":[["67aa39e3.922f"]]},{"id":"e18029b.62c28d8","type":"telegrambot-notify","z":"15715190.4f8046","name":"Bot_caldera","bot":"a339ed92.ae03c8","chatId":"34635086","message":"","parseMode":"","x":570,"y":680,"wires":[]},{"id":"146910d8.53a797","type":"function","z":"15715190.4f8046","name":"Aviso","func":"var e = msg.payload;\n\nif (e == 1){\n    msg.payload=\"Es de dia\";\n    }else{msg.payload=\"Es de noche\";}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":680,"wires":[["e18029b.62c28d8"]]},{"id":"ccc34fe5.31f128","type":"ui_heater_controller","z":"15715190.4f8046","name":"Caldera","group":"38a70807.cb0138","unit":"C","order":8,"width":6,"height":3,"topic":"Estado","sliderMinValue":10,"sliderMaxValue":26,"sliderStep":0.5,"thresholdRising":1,"thresholdFalling":1,"calendar":"{\n    \"Monday\": {\n        \"00:00\": 19,\n        \"06:00\": 22,\n        \"08:15\": 19,\n        \"14:00\": 22,\n        \"22:00\": 19,\n        \"23:59\": 19\n    },\n    \"Tuesday\": {\n        \"00:00\": 19,\n        \"06:00\": 22,\n        \"08:15\": 19,\n        \"14:00\": 22,\n        \"22:00\": 19,\n        \"23:59\": 19\n    },\n    \"Wednesday\": {\n        \"00:00\": 19,\n        \"06:00\": 22,\n        \"08:15\": 19,\n        \"14:00\": 22,\n        \"22:00\": 19,\n        \"23:59\": 19\n    },\n    \"Thursday\": {\n        \"00:00\": 19,\n        \"06:00\": 22,\n        \"08:15\": 19,\n        \"14:00\": 22,\n        \"22:00\": 19,\n        \"23:59\": 19\n    },\n    \"Friday\": {\n        \"00:00\": 19,\n        \"06:00\": 22,\n        \"08:15\": 19,\n        \"14:00\": 22,\n        \"22:00\": 19,\n        \"23:59\": 19\n    },\n    \"Saturday\": {\n        \"00:00\": 19,\n        \"09:00\": 22,\n        \"12:00\": 19,\n        \"15:00\": 22,\n        \"23:59\": 19\n    },\n    \"Sunday\": {\n        \"00:00\": 19,\n        \"09:30\": 22,\n        \"12:00\": 21,\n        \"15:00\": 22,\n        \"23:00\": 19,\n        \"23:59\": 19\n    }\n}","x":540,"y":340,"wires":[["dda1732f.d5307"]]},{"id":"4e5e8eb9.f9bfe8","type":"link in","z":"15715190.4f8046","name":"currentTemp","links":["1ef72cd9.e7916b"],"x":135,"y":340,"wires":[["cd7c9afc.3bbfe8"]]},{"id":"cd7c9afc.3bbfe8","type":"function","z":"15715190.4f8046","name":"currentTemp","func":"var actual = msg.payload\n\nmsg.topic = 'currentTemp';\nmsg.payload = actual;\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":340,"wires":[["ccc34fe5.31f128"]]},{"id":"dda1732f.d5307","type":"function","z":"15715190.4f8046","name":"Encendido","func":"//var encendido = msg.payload.currentHeaterStatus;\n//context.encendido = context.Estado.currentHeaterStatus;\n//context.Int_cal = context.Int_cal || false;\nvar encendido = context.get('encendido') || \"on\";  // initialize variables\nvar interruptor = context.get('interruptor') || false;\n\nif (msg.topic == \"Estado\")  // update context based on topic of input\n{\n    encendido = {payload: msg.payload.currentHeaterStatus};\n    context.set('encendido', encendido);  // save last value in local context\n}\n\nif (msg.topic == \"Int_cal\") // same here\n{\n    interruptor = {payload: msg.payload};\n    context.set('interruptor', interruptor); // save last value in local context\n}\n\nif (encendido.payload == \"on\" && interruptor.payload){\n    msg.payload = false;\n}else {msg.payload = true;}\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":380,"wires":[["1ecf944c.21c47c","b54fa1c0.1bc6d8"]]},{"id":"e487b279.44fd8","type":"ui_dropdown","z":"44c3e01a.1af2f","name":"","label":"Hora","tooltip":"","place":"Hora","group":"ff08d5a9.cbf1","order":2,"width":2,"height":1,"passthru":false,"options":[{"label":"00","value":0,"type":"num"},{"label":"01","value":"01","type":"str"},{"label":"02","value":"02","type":"str"},{"label":"03","value":"03","type":"str"},{"label":"04","value":"04","type":"str"},{"label":"05","value":"05","type":"str"},{"label":"06","value":"06","type":"str"},{"label":"07","value":"07","type":"str"},{"label":"08","value":"08","type":"str"},{"label":"09","value":"09","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"hora","x":370,"y":380,"wires":[[]]},{"id":"9c0896ad.ca888","type":"ui_dropdown","z":"44c3e01a.1af2f","name":"","label":"Minuto","tooltip":"","place":"Minuto","group":"ff08d5a9.cbf1","order":3,"width":2,"height":1,"passthru":false,"options":[{"label":"00","value":"00","type":"str"},{"label":"05","value":"05","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"55","value":"55","type":"str"}],"payload":"","topic":"minuto","x":370,"y":460,"wires":[[]]},{"id":"23d6479d.11f4e","type":"ui_numeric","z":"44c3e01a.1af2f","name":"","label":"Temperatura","tooltip":"","group":"ff08d5a9.cbf1","order":3,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"temperatura","format":"{{value}}","min":"15","max":"26","step":1,"x":390,"y":540,"wires":[[]]},{"id":"669b8204.f6717c","type":"ui_button","z":"44c3e01a.1af2f","name":"","group":"ff08d5a9.cbf1","order":4,"width":0,"height":0,"passthru":false,"label":"Guardar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":520,"y":340,"wires":[["67b99179.2636f8"]]},{"id":"4de88e14.9bdac8","type":"debug","z":"44c3e01a.1af2f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":300,"wires":[]},{"id":"efa41eba.460fa","type":"ui_date_picker","z":"44c3e01a.1af2f","name":"","label":"date","group":"ff08d5a9.cbf1","order":5,"width":0,"height":0,"passthru":true,"topic":"","x":140,"y":320,"wires":[[]]},{"id":"67b99179.2636f8","type":"function","z":"44c3e01a.1af2f","name":"","func":"//var dia=dia.payload;\n    msg.payload=dia;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":500,"wires":[["4de88e14.9bdac8"]]},{"id":"b9cea39f.0055b8","type":"ui_gauge","z":"7a115568.6aefec","name":"","group":"a9d23151.3bec98","order":3,"width":6,"height":3,"gtype":"gage","title":"Interior","label":"units","format":"{{value}}","min":"10","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":600,"wires":[]},{"id":"a0473785.fe1748","type":"ui_chart","z":"7a115568.6aefec","name":"","group":"a9d23151.3bec98","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":640,"wires":[[]]},{"id":"ff85132f.fe802","type":"ui_dropdown","z":"15715190.4f8046","name":"","label":"Termostato caldera","tooltip":"","place":"Select option","group":"38a70807.cb0138","order":2,"width":5,"height":1,"passthru":false,"options":[{"label":"10","value":"10","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"55","value":"55","type":"str"},{"label":"60","value":"60","type":"str"},{"label":"65","value":"65","type":"str"}],"payload":"","topic":"Tr_cal","x":390,"y":260,"wires":[["3eeb220a.47f8be"]]},{"id":"b0aae47f.a57f08","type":"function","z":"15715190.4f8046","name":"Comparador","func":"var actual = global.get('T_cal');\nvar Tr_cal = global.get('Tr_cal');\n\n    if (actual + 1 < Tr_cal){\n        msg.payload = true;\n    } else {\n        msg.payload = false;}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":420,"wires":[["376a3560.c8b4e2"]]},{"id":"3eeb220a.47f8be","type":"function","z":"15715190.4f8046","name":"Global_Tr_cal","func":"var Tr_cal=msg.payload;\nglobal.set('Tr_cal',msg.payload);\n","outputs":1,"noerr":0,"x":680,"y":260,"wires":[[]]},{"id":"6d398382.8a152c","type":"mqtt in","z":"7a115568.6aefec","name":"","topic":"Salon","qos":"2","datatype":"auto","broker":"4426622.c4a879c","x":190,"y":600,"wires":[["ef06015c.04806","1ef72cd9.e7916b"]]},{"id":"ef06015c.04806","type":"function","z":"7a115568.6aefec","name":"Globaliza","func":"var t_int = msg.payload;\nglobal.set(\"T_int\", t_int);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":620,"wires":[["b9cea39f.0055b8","a0473785.fe1748"]]},{"id":"e55b3e43.2a62d","type":"mqtt out","z":"7a115568.6aefec","name":"","topic":"T_ext","qos":"2","retain":"","broker":"4426622.c4a879c","x":610,"y":100,"wires":[]},{"id":"e45334de.1a8758","type":"mqtt out","z":"7a115568.6aefec","name":"","topic":"T_cap","qos":"2","retain":"","broker":"4426622.c4a879c","x":770,"y":200,"wires":[]},{"id":"493d2c3.7d0e254","type":"mqtt out","z":"7a115568.6aefec","name":"","topic":"T_cal","qos":"2","retain":"","broker":"4426622.c4a879c","x":890,"y":320,"wires":[]},{"id":"d3dbad82.47283","type":"mqtt out","z":"7a115568.6aefec","name":"","topic":"T_acs","qos":"2","retain":"","broker":"4426622.c4a879c","x":890,"y":460,"wires":[]},{"id":"f766afae.ca8f3","type":"mqtt out","z":"7a115568.6aefec","name":"","topic":"T_asol","qos":"2","retain":"","broker":"4426622.c4a879c","x":670,"y":540,"wires":[]},{"id":"8d0533e0.620a08","type":"mqtt out","z":"15715190.4f8046","name":"","topic":"V3v","qos":"2","retain":"","broker":"4426622.c4a879c","x":830,"y":80,"wires":[]},{"id":"b54fa1c0.1bc6d8","type":"mqtt out","z":"15715190.4f8046","name":"","topic":"Cal","qos":"2","retain":"","broker":"4426622.c4a879c","x":970,"y":320,"wires":[]},{"id":"3eda87fd.a35d78","type":"mqtt out","z":"15715190.4f8046","name":"","topic":"B_cap","qos":"2","retain":"","broker":"4426622.c4a879c","x":850,"y":540,"wires":[]},{"id":"e35e067.512e778","type":"mqtt out","z":"15715190.4f8046","name":"","topic":"B_cal","qos":"2","retain":"","broker":"4426622.c4a879c","x":750,"y":440,"wires":[]},{"id":"7a36249d.cb9c04","type":"mysql","z":"44c3e01a.1af2f","d":true,"mydb":"da7b2434.b0ed68","name":"","x":780,"y":180,"wires":[["c2e07b6.e128b88"]]},{"id":"c2e07b6.e128b88","type":"debug","z":"44c3e01a.1af2f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":120,"wires":[]},{"id":"168c784b.891a38","type":"inject","z":"44c3e01a.1af2f","name":"","topic":"SELECT * FROM tabla_01;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":200,"wires":[["7a36249d.cb9c04"]]},{"id":"b8a75926.d544d8","type":"ui_dropdown","z":"15715190.4f8046","name":"","label":"Termostato Agua","tooltip":"","place":"Select option","group":"2ffc95f.eccefea","order":2,"width":5,"height":1,"passthru":false,"options":[{"label":"10","value":"10","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"55","value":"55","type":"str"},{"label":"60","value":"60","type":"str"}],"payload":"","topic":"Tr_cal","x":470,"y":200,"wires":[["74fbb0be.d1eaa"]]},{"id":"ea6eccc4.978318","type":"ui_week_schedule","z":"44c3e01a.1af2f","group":"4d3dfa68.b9cb9c","order":8,"label":"","name":"Agenda","width":0,"height":0,"x":120,"y":500,"wires":[[]]},{"id":"19a751d0.334d1e","type":"debug","z":"15715190.4f8046","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":640,"wires":[]},{"id":"5832944b.811f5c","type":"debug","z":"15715190.4f8046","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":640,"wires":[]},{"id":"c6a1d569.1ee638","type":"rbe","z":"44c3e01a.1af2f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":430,"y":60,"wires":[["bd1ca632.48ba4"]]},{"id":"babc132b.46168","type":"link out","z":"15715190.4f8046","name":"","links":["8f172fb.0243bd"],"x":235,"y":740,"wires":[]},{"id":"8f172fb.0243bd","type":"link in","z":"af16628e.f7d2b8","name":"Luz Porche","links":["babc132b.46168"],"x":155,"y":340,"wires":[["d33751ab.6283c"]]},{"id":"d33751ab.6283c","type":"function","z":"af16628e.f7d2b8","name":"Cambia","func":"if (msg.payload === 1){\n    val = 'OFF';\n} else if (msg.payload === 0){\n    val ='ON';\n}\nmsg.payload = val;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":340,"wires":[["45f20a8f.7c462c"]]},{"id":"ae57be08.9ab97","type":"inject","z":"44c3e01a.1af2f","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["5a51ca74.da2884"]]},{"id":"5a51ca74.da2884","type":"function","z":"44c3e01a.1af2f","name":"Evalua","func":"var actual = global.get('T_cap');\nif (actual > 70){\n    msg.payload = true;\n} else { msg.payload = false;}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":60,"wires":[["c6a1d569.1ee638"]]}]